/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Add CSS styling here */
*{
        box-sizing:border-box;
        padding:1px;
        margin:1px;
        max-width:100%;
      }
      
html{
    font-size:62.5%;
}      
h1{
    font-size: 600%;
    margin: 2% 0 0 0;
}
h2{
    font-size:400%;
    margin: 2% 0;
}
h1,h2{
    text-align:center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;

}
a {
    border: 1px solid black;
    padding: 5px;
    font-size: 180%;
}
header nav a {
    background-color: grey;
}
.intro{
    height:15vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.intro p{
    text-align:justify;
    width: 80%;
    padding: 5% 0;
    font-size: 160%;
  }
.bigIMG img{
    height:60vh;
    width:100%;
    margin: 0 0 2% 0;
}
.annoying{
    display:flex;
    justify-content:flex-start;
    align-items:left;
    
}
.annoying img{
    height:100vh;
}
.one{
    width: 20%;
    height:100vh;
}
.two{
    width: 20%;
    height:100vh;
}
.three{
    width: 20%;
    height: 100vh;
}
.four{
    width: 20%;
    height:100vh;
}
span {
    width: 20%;
    text-align: center;
    margin: 35% 2%;
    font-size: 160%;
}
footer {
    margin: 5% 0 0 0;
    display: flex;
    justify-content: center;
    background-color: grey;
    height: 10vh;
}
footer{
    background-color: grey;
    padding: 4% 0;
    text-align:center;
  }
  footer div{
    display:flex;
    justify-content:center;
  }
  footer nav{
    width:80%;
    display:flex;
    justify-content:space-evenly;
  }
  footer a{
      margin: 0 20%;
  }
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
 
  .fa:hover {
    opacity: 0.7;
  }
  
.fa-youtube {
    background: #bb0000;
    color: white;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }
   
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
 
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
 /*This is where the tablet design begins*/

 @media(max-width:800px){
     .annoying {
         flex-direction: column;
         justify-content:center;
         align-items:center;
     }
     .annoying img{
         width: 100%;
         margin: 5% 0;
         padding: 5% 0;
     }
     .one {
         width:80%;
         height: 100vh;
     }
     .two{
        width: 80%;
        height:100vh;
    }
    .three{
        width: 80%;
        height: 100vh;
    }
    .four{
        width: 80%;
        height:100vh;
    }
    .annoying span{
        order: -1;
        margin: 8% 0 0 0;
    }

 }

 /*Mobile Media Query*/

 @media(max-width:500px){
     h1 {
         font-size: 400%;
     }
     h2 {
         font-size: 350%;
     }
     .intro {
         font-size: 80%;
     }
     .annoying span {
         font-size: 120%;
     }
 }